/**{
    box-sizing: border-box;
}*/
.contenedor{
    width: 70%;
    margin: auto;
}
.contenedor-card{
   
     display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
     
    

}
.card{
     width: 18rem;
    margin: 20px;
    flex-shrink: 0;
    display: flex;
   
     
}
.description{
    
    white-space: pre-line;
    
     
}